<ul class="breadcrumb">
  <li><%= link_to t('bassi.nav.bassi_collection'), root_path%></li>

  <% if on_about_pages %>
   &#187; <li><%= link_to t('bassi.nav.about'), about_project_path%></li>
		<% case @page_name %>
 			<% when "laura_bassi" %> 
				&#187; <%=t('bassi.nav.laura_bassi') %>
 			<% when "project" %> 
				&#187; <%=t('bassi.nav.project_overview') %>
 			<% when "history" %> 
				&#187; <%=t('bassi.nav.project_history') %>
 			<% when "stanford_team" %> 
				&#187; <%=t('bassi.nav.project_team_stanford') %>
 			<% when "italy_team" %> 
				&#187; <%=t('bassi.nav.project_team_italy') %>
 			<% when "acknowledgements" %> 
				&#187; <%=t('bassi.nav.acknowledgements') %>
 			<% when "contact" %> 
				&#187; <%=t('bassi.nav.contact_us') %>
 			<% when "terms_of_use" %> 
				&#187; <%=t('bassi.nav.use_policy') %>
		 <% end %>
  <% end %>

 <% if on_background_page %>
    &#187; <li><%= t('bassi.nav.background') %></li>
 <% end %>

 <% if on_inventory_pages %>
    &#187; <li><%= t('bassi.nav.content_inventory') %></li>
 <% end %>

 <% if on_show_page %>
			<% if ['item','file','box', 'folder'].include?(@document.level) && !@document.series.blank? %>
  			&#187; <li><%= link_to "#{t('bassi.show.series.word')} #{@document.series_number}", inventory_path(:anchor => @document.series) %></li> 
			<% end %>
			<% if ['item','file','box'].include?(@document.level) && !@document.box.blank?%>
				&#187; <li><%= link_to "#{t('bassi.show.box.word')} #{@document.box}",inventory_path(:anchor => "box#{@document.box}") %></li> 
			<% end %>
			<% if ['item','file'].include?(@document.level) && !@document.folder.blank? %>
				&#187; <li><%= link_to "#{t('bassi.show.folder.word')} #{@document.folder}",inventory_path(:anchor => "box#{@document.box}-folder#{@document.folder}") %></li>		
			<% end %>			
 <% end %>

	<% if on_collections_pages || on_show_page%>
		&#187;
		 <li><%= raw truncate(@page_title) %></li>
	
	<% end %>
</ul>
