<ul class="breadcrumb col-md-12">
  <li><%= link_to t('bassi.nav.bassi_collection'), root_path %></li>
  <% if on_about_pages %>
    <li><%= link_to t('bassi.nav.about'), about_project_path %></li>
    <% case @page_name %>
      <% when 'laura_bassi' %>
        <li><%= t('bassi.nav.laura_bassi') %></li>
      <% when 'project' %>
        <li><%= t('bassi.nav.project_overview') %></li>
      <% when 'history' %>
        <li><%= t('bassi.nav.project_history') %></li>
      <% when 'stanford_team' %>
        <li><%= t('bassi.nav.project_team_stanford') %></li>
      <% when 'italy_team' %>
        <li><%= t('bassi.nav.project_team_italy') %></li>
      <% when 'acknowledgements' %>
        <li><%= t('bassi.nav.acknowledgements') %></li>
      <% when 'contact' %>
        <li><%= t('bassi.nav.contact_us') %></li>
      <% when 'terms_of_use' %>
        <li><%= t('bassi.nav.use_policy') %></li>
    <% end %>
  <% elsif on_background_page %>
    <li><%= t('bassi.nav.background') %></li>
  <% elsif on_inventory_pages %>
    <li><%= t('bassi.nav.content_inventory') %></li>
  <% end %>

  <% if on_collection_highlights_page %>
    <li><%=t('bassi.home.collection_highlights') %></li>
  <% end %>

  <% if on_show_page %>
    <%= render :partial => "shared/ancestor_breadcrumb", :locals => {:document => @document} %>
  <% end %>

  <% if (on_collections_pages || on_show_page) && !on_collection_highlights_page %>
    <li><%= truncate(@page_title, escape: false) %></li>
  <% end %>
</ul>
