<% @documents.each do |document| %>
  <div class="modal-body">
    <p>
      Biblioteca Comunale dell'Archiginnasio, Bologna, Conservatore speciale Bassi Veratti,
      <%= t('bassi.show.box.word') %> <%= document.box %>,
      <%= t('bassi.show.folder.word') %> <%= document.folder %>,
      <% unless document.purl.blank? %>
        <%= link_to document.purl %>,
      <% end %>
      <%= citation_title(document) %>.
    </p>
  </div>
<% end %>
