<%- type ||= :collection -%>
<%- document ||= @document -%>
<div class="row">
  <div class="col-md-9 collection-members">
    <div class="row">
      <%- if type == :collection -%>
        <div class="col-md-6">
          <h5><%= t('bassi.collection_members_grid.collection_text') %> <span class="muted">(<%= collection_members.total_members %>)</span></h5>
        </div>
        <div class="col-md-2 col-md-offset-1 controls">
          <%= link_to(t('bassi.collection_members_grid.members_link'), search_catalog_path( {:f => { blacklight_config.collection_member_collection_title_field => collection_members.first[blacklight_config.collection_member_collection_title_field]  } } )) %>
        </div>
      <%- else -%>
        <div class="col-md-6">
          <h5><%= t('bassi.collection_members_grid.sibling_text', :collection => document[blacklight_config.collection_member_collection_title_field].first) %> <span class="muted">(<%= collection_members.total_members %>)</span></h5>
        </div>
        <div class="col-md-2 col-md-offset-1 controls">
          <%= link_to(t('bassi.collection_members_grid.collection_link'), solr_document_path(document[blacklight_config.collection_member_identifying_field])) %>
        </div>
      <%- end -%>
    </div>
    <%- collection_members.each do |item| -%>
      <div class="item">
        <%= link_to(image_tag(item.images.first), item_path(item)) %>
      </div>
    <%- end -%>
  </div>
</div>
