<div class="row results-controls">

  <div class="col-md-4 prev-next">
    <% if @response.total_pages > 1 %>
    <%= paginate_rsolr_response @response, :theme => :blacklight_compact %>
    <% else %>
    <%= render_pagination_info(@response) %>
    <% end %>
  </div>

  <div class="col-md-3 view-toggle">
    <div class='gallery_toggle tabbable tabs-below'>
      <ul class="nav nav-pills">
        <li><%= link_to('<i class=".glyphicon .glyphicon-th-list"></i>'.html_safe, search_catalog_path(params.merge(:view => 'default')), :alt => 'Default results view', :title => 'Default results view', :class=>"#{'active' if params[:view] == 'default' or params[:view].nil? }") %></li>
        <li><%= link_to('<i class=".glyphicon .glyphicon-align-justify"></i>'.html_safe, search_catalog_path(params.merge(:view => 'brief')), :alt => 'Text-only view of results', :title => 'Text-only view of results', :class=>"#{'active' if params[:view] == 'brief'}") %></li>
        <li><%= link_to('<i class=".glyphicon .glyphicon-th-large"></i>'.html_safe, search_catalog_path(params.merge(:view => 'gallery')), :alt => 'Gallery view of results', :title => 'Gallery view of results', :class=>"#{'active' if params[:view] == 'gallery'}") %></li>
        <!-- Original links for results view toggle, using text instead of icons -->
        <!-- <li><%#= link_to(t('bassi.search.gallery_toggle.default'), search_catalog_path(params.merge(:view => 'default')), :class=>"#{'active' if params[:view] == 'default' or params[:view].nil? }") %></li> -->
        <!-- <li><%#= link_to(t('bassi.search.gallery_toggle.text'), search_catalog_path(params.merge(:view => 'brief')), :class=>"#{'active' if params[:view] == 'brief'}") %></li> -->
        <!-- <li><%#= link_to(t('bassi.search.gallery_toggle.gallery'), search_catalog_path(params.merge(:view => 'gallery')), :class=>"#{'active' if params[:view] == 'gallery'}") %></li> -->

        <!-- MAP VIEW CURRENTLY DISABLED IN SEARCH RESULTS -->
        <%#= link_to(t('bassi.search.gallery_toggle.map'), search_catalog_path(params.merge(:view => 'map')), :class=>"#{'active' if params[:view] == 'map'}") %>
      </ul>
    </div>
  </div>

  <div class="col-md-2 page-pulldown">
    <%= render 'sort_and_per_page' %>
  </div>

</div>
