<div class="row">
  <div class="span3">
  	<p><%= image_tag('bv-sample.png', :width => '120') %></p>
		Featured Collection 1
  </div>
  <div class="span3">
  	<p><%= image_tag('bv-sample.png', :width => '120') %></p>	
  	Featured Collection 2
  </div>
  <div class="span3">
  	<p><%= image_tag('bv-sample.png', :width => '120') %></p>	
  	Featured Collection 3
  </div>
</div>


<div class="row">
	<div class="span9 about-dl">
		<h3 class="section-heading">About the Collection</h3>
		<p>
			<%= link_to image_tag('bv-sample.png', :width => '120'), about_project_path %>
      <%= t('bassi.home.about_text_html') %>
		</p>
		<p>
			<%= link_to 'More', about_project_path %>
		</p>
	</div>
</div>
