<div id="content" class="span9">
	<div class="row">
	  <div class="span9">
	    <h2><%=t('bassi.home.collection_highlights')%><span class="highlights-link"><%=link_to t('bassi.home.more_highlights'),collection_highlights_path%></span></h2>
	  </div>
	</div>

  <div class="row featured-collections">
		<% @highlights.each do |highlight| %>
    <div class="span3">
      	<%= link_to(image_tag(highlight.image_url, :class => 'highlight-poster-image'),catalog_index_path(:q=>"#{highlight.query}"))  %>
        <h3 class="collection-title"><%= link_to(highlight.send("name_#{I18n.locale}"),catalog_index_path(:q=>"#{highlight.query}"))  %></h3>
        <span>(<%=t('bassi.show.item',:count=>highlight.collection_highlight_items.size)%>)</span>
      </div>
		<% end %>
  </div>


  <div class="row">
    <div class="span9 about-dl">
      <h3 class="section-heading">About the Collection</h3>
      <p>
        <%= link_to image_tag('bv-sample.png', :width => '120'), about_project_path %>
        <%= t('bassi.home.about_text_html') %>
      </p>
      <p>
        <%= link_to 'More', about_project_path %>
      </p>
    </div>
  </div>

</div>
