<div id="content" class="col-md-9">
  <div class="row">
    <div class="col-md-9">
      <hr class="main primary">
      <h2><%=t('bassi.home.collection_highlights')%><span class="highlights-link"><%=link_to t('bassi.home.more_highlights'),collection_highlights_path%></span></h2>
    </div>
  </div>

  <div class="row featured-collections">
    <% @highlights.each do |highlight| %>
      <div class="col-md-3 featured-collection">
        <%= link_to(image_tag(highlight.image_url, :class => 'highlight-poster-image'),search_catalog_path(params_for_collection_highlight(highlight)))  %>
        <h3 class="collection-title"><%= link_to_collection_highlight(highlight) %></h3>
        <span>(<%=t('bassi.show.item',:count=>highlight.collection_highlight_items.size)%>)</span>
      </div>
    <% end %>
  </div>


  <div class="row">
    <div class="col-md-9 about-dl">
      <hr class="main secondary">
      <h3 class="section-heading"><%= t('bassi.home.about_collection_html') %></h3>
      <p>
        <%= link_to image_tag('about-dl.jpg', :width => '130'), about_project_path %>
        <%= t('bassi.home.about_text') %>
        <%= link_to t('blacklight.search.facets.more'), about_project_path %>
      </p>
    </div>
  </div>

  <div class="row showOnLoad" style="display:none;">
    <div class="col-md-9 overview">
      <hr class="main secondary">
      <h3 class="section-heading"><%=t('bassi.home.overview_by')%></h3>
        <div class="overview-area tab-content">
          <%= render :partial => 'overview_map' unless @params[:nomap]%>
        </div>
    </div>
  </div>

</div>
