<%if @document.images.size > 0 %>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#image_workspace").embedPurl({'server': '<%=BassiVeratti::Application.config.purl_plugin_server%>',
                                       'druid': '<%= document[:druid_ssi] %>',
                                       'size': 'zoom',
                                       'layout': 'thumbs-nav-bottom',
                                       'width': 425,
                                       'height': 600});
    });
  </script>
<% end %>

<div class="document">
  <div class="row">
    <div class="span12">
      <h2><%= t('bassi.collection.member_detail') %></h2>
    </div>
  </div>

  <div class="row document-details">
    <div class="span6 member-image">
      <%if @document.images.size > 0 %>
        <div id="image_workspace"></div>

        <noscript>
           <div class="item active">
             <%= link_to image_tag(@document.images.first, :alt => "#{t('bassi.collection_members.items_name')} 1 of #{@document.images.size}"),@document.purl %>
		        <% unless @document.purl.blank? %>
		          <div>Permanent URL<%= " (click to view all item images)" if @document.images.size > 1 %>:
		            <span><%= link_to @document.purl, @document.purl, :class => 'purl-link' %></span>
		          </div>
						<% end %>
           </div>
        </noscript>
      <% else %>
        <%= image_tag("http://dummyimage.com/365x400/f8f6f1/6d5b48&text=#{t('bassi.show.description_only_no_image')}", :class => "placeholder-image") %>
      <% end %>
    </div>

    <div class="span6 metadata">
      <div class="item-metadata-tools">
        <span class="highlights-link">
          <%= link_to t('bassi.show.view_in_inventory', :item => 'item'), inventory_path(:anchor => "box#{@document.box}-folder#{@document.folder}") %>
        </span>
        <%= render :partial => 'show_actions' %>
      </div>
            
      <%= render_document_heading(:h4).html_safe %>
      <dl class="dl-horizontal  dl-invert">
        <dt><%=t('bassi.show.date')%>:</dt><dd><%=show_list(@document.date)%>&nbsp;</dd>
        <% unless list_is_empty?(@document.en_document_types) and list_is_empty?(@document.it_document_types)  %>
          <dt style='white-space: normal;'><%=t('bassi.show.document_types')%>:</dt><dd class="doc-type" ><%=show_formatted_list(@document.send(:"#{I18n.locale}_document_types"),:facet=>"#{I18n.locale}_document_types_ssim")%></dd>
        <% end %>
        <% unless list_is_empty?(@document.description) %>
          <dt style='white-space: normal;'><%=t('bassi.show.description')%>:</dt><dd><%=show_formatted_list(@document.description)%></dd>
        <% end %>
        <% unless list_is_empty?(@document.people) %>
          <dt><%=t('bassi.show.people')%>:</dt><dd><%=show_formatted_list(@document.people,:facet=>'personal_name_ssim')%></dd>
        <% end %>
        <% unless list_is_empty?(@document.families) %>
          <dt><%=t('bassi.show.families')%>:</dt><dd><%=show_formatted_list(@document.families,:facet=>'family_name_ssim')%></dd>
        <% end %>
        <% unless list_is_empty?(@document.corporations) %>
          <dt><%=t('bassi.show.corporations')%>:</dt><dd><%=show_formatted_list(@document.corporations,:facet=>'corporate_name_ssim')%></dd>
        <% end %>
        <% unless list_is_empty?(@document.location) %>
          <dt><%=t('bassi.show.locations')%>:</dt>
            <dd><%=show_formatted_list(@document.location,:facet=>'geographic_name_ssim')%>
              <% unless list_is_empty?(@document.coordinates) %>
                <span class="map-link hidden showOnLoad">
                  <a href="#location-map" data-toggle="modal" id="show-map-link">
                    <i class="icon-globe"></i> <%=t('bassi.show.show_map')%>
                  </a>
                </span>
              <% end %>
            </dd>
        <% end %>
        <% unless list_is_empty?(@document.notes) %>
          <dt><%=t('bassi.show.notes')%>:</dt><dd><%=show_formatted_list(@document.notes)%></dd>
        <% end %>
        <% if duplicate_note(@document.id) %>
          <dt><%= t('bassi.show.notes') %>:</dt><dd><%= link_to(duplicate_note(@document.id), catalog_path(duplicate_reference(@document.id))) %></dd>
        <%- end -%>

      </dl>

    </div>

  </div>


<% if @document.folder_siblings.documents.size > 0%>
<div class="row">
  <div class="span12">
    <h3>
      <%=t('bassi.show.all_items_in_folder')%> (<%=@document.folder_siblings.documents.size%>)
      <span class="highlights-link"><%= link_to t('bassi.show.view_in_inventory', :item => 'folder'), inventory_path(:anchor => "box#{@document.box}-folder#{@document.folder}") %></span>
    </h3>
    <ul class="preview-folder-items">
      <% @document.folder_siblings.documents.each do |sibling| %>
        <li>
          <%= link_to(image_tag(show_image(sibling.images(:square).first),:alt=>sibling.title,:title=>sibling.title,:border=>0), catalog_path(sibling[:id])) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<% if !list_is_empty?(@document.coordinates) && !@document.coordinates.first[:lat].nil? && !@document.coordinates.first[:lon].nil?%>
  <script>
  $(document).ready(function(){
    $('#location-map').modal({keyboard: true, backdrop: 'static', show: false});
    var options = {
      zoom: 6,
      center: new google.maps.LatLng(<%="#{document.coordinates.first[:lat]},#{@document.coordinates.first[:lon]}"%>),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map( document.getElementById( 'result_map' ), options );
    <%- @document.coordinates.each do |coordinate| %>
      new google.maps.Marker({position: new google.maps.LatLng(<%="#{coordinate[:lat]},#{coordinate[:lon]}"%>),map: map,title:"<%=coordinate[:name]%>"});
    <% end %>

  });

  </script>

  <div class="modal fade" id="location-map">
    <div class="modal-header">
      <h3><%=t('bassi.show.map')%></h3>
    </div>
    <div class="modal-body">

        <div id="result_map"></div>

    </div>
    <div class="modal-footer">
      <button class="tod-agree btn" data-dismiss="modal"><%=t('bassi.nav.close')%></button>
    </div>
  </div>
<% end %>
