<div id="content" class="span9 about-content">
	<div class="row">
	  <div class="span9">
	    <h2><%= @page_title %></h2>
	  </div>
	</div>
	
	<div class="row">
	  <div class="span9">
			<h3><%=t('bassi.background.notes_title') %></h3>
			<%= t('bassi.background.notes_text_html') %>
		</div>
	</div>

	<div class="row">
	  <div class="span9">
			<h3><%=t('bassi.background.extent_description_title') %></h3>
			<%= t('bassi.background.extent_description_text_html') %>
		</div>
	</div>

	<div class="row">
	  <div class="span9">
			<h3><%=t('bassi.background.abbrevations_title') %></h3>
			<%= t('bassi.background.abbreviations_text_html') %>
		</div>
	</div>

</div>